<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
		PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jmora.marketplace.mapper.ProductMapper">

	<resultMap id="productResult" type="Product">
	
		 <result property="id" 				column="id"/>
		 <result property="code" 			column="code"/>
		 <result property="name" 			column="name"/>
		 <result property="price"	 		column="price"/>
		 <result property="description"	 	column="description"/>
		 <result property="category.id" 	column="id_category"/>			
		 <result property="category.name" 	column="category_name"/>
		 
	 </resultMap>

	<select id="fetchAll" resultMap="productResult">
		SELECT
		
			p.id,
			p.code,
			p.name,
			p.id_category,
			p.price,
			p.description,
			c.id as id_category,
			c.name as category_name
		FROM product p
		INNER JOIN category c on p.id_category = c.id 
	</select>
	
	<select id="findCodeLikeOrNameLikeOrCategory" parameterType="Product" resultMap="productResult">
		SELECT
			p.id,
			p.code,
			p.name,
			p.id_category,
			p.price,
			p.description,
			c.id as id_category,
			c.name as category_name
		FROM product p
		INNER JOIN category c on p.id_category = c.id 		
		<where>
			<if test="code !=null and !code.isEmpty()">
				OR	p.code like  #{code}
			</if>
			<if test="name !=null  and !name.isEmpty()">
				OR 	p.name like  #{name}
			</if>
			<if test="category !=null and category.id !=null">
				OR 	p.id_category =  #{category.id}
			</if>
		</where>	
		
	
	</select>


	<select id="fetch" resultMap="productResult">
		SELECT
			id,
			code,
			name,
			id_category		
		FROM product = #{id}
	</select>



</mapper>